@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    font-family: "Mulish", serif;
    font-optical-sizing: auto;
}

/* Mobile device */

@media screen and (max-width:576px) {

    nav,
    .popular-tour,
    .banner-content>form,
    form label,
    .subsription-section {
        flex-direction: column;
    }

    main {
        margin-top: 30px;
        max-width: 90%;
    }

    .banner-content>form {
        max-width: 92%;
        margin: 0 auto;
        margin-top: 15px;
    }

    nav ul {
        gap: 11px;
    }

    .banner-content h1 {
        font-size: 22px;
        margin-bottom: 5px;
    }

    .banner-content {
        padding-top: 32px;
        display: block;
        text-align: center;
    }

    .banner-content p {
        max-width: 90%;
        margin: 0 auto;
    }

    .footer-content hr {
        width: 335px;
        height: 1px;
    }

    /* banner ends */
    .popular-tour {
        margin: 24px 0px;
        gap: 24px;
    }

    .populer-tour-picture {
        width: 100%;
        order: 2;
    }

    .popular-tour-content {
        width: 97%;
        order: 1;
    }

    .common-section h1 {
        font-size: 20px;
    }

    .destination {
        margin-top: 16px;
        margin-bottom: 24px;
        display: grid;
        grid-template-columns: 1fr;
    }

    .destination-div img {
        height: 176px;
    }

    .grid-item1 {
        grid-column: 1/span 1;
    }

    .grid-item2 {
        grid-column: 1/span 1;
    }

    .grid-item3 {
        grid-column: 1/span 1;
    }

    .grid-item4 {
        grid-column: 1/span 1;
    }

    .grid-item5 {
        grid-column: 1/span 1;
    }

    .grid-item6 {
        grid-column: 1/span 1;
    }

    .grid-item7 {
        grid-column: 1/span 1;
    }

    .why-us-card {
        width: 95%;
    }

    .content-satoroni {
        width: 100%;
    }

    .why-us-section {
        margin-top: 16px;
    }

    .why-us-section {
        margin-bottom: 24px;
    }

    .content-all {
        width: 90%;
        margin-top: 7.5rem;
        margin-left: 1.2rem;
        height: 355px;
        padding: 0;
        padding: 25px;
    }


    .content-all>p {
        height: 60px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .section-satoroni-1,
    .section-satoroni-2,
    .section-satoroni-3 {
        flex-direction: column;
        align-items: normal;
    }

    .section-satoroni-2 {
        background-repeat: no-repeat;
        gap: 0;
    }

    #right-side-satoroni {
        margin-left: 0;
    }

    .icons {
        flex-wrap: wrap;
        gap: 15px;
        margin-bottom: 18px;
    }

    .watch-our-bd {
        flex-direction: column;
    }

    .watch-bd-content {
        width: 100%;
    }

    .watch-our-content>h1 {
        font-size: 1.2rem;
        font-weight: 500;
        text-align: none;
    }

    .watch-our-bd {
        margin-top: -29px;
    }

    .subsription-section>form {
        width: 100%;
    }

    .subscription-save-picture {
        width: 100%;
    }

    .subsription-section {
        margin: 24px 0;
    }

    .save-up-to-70 {
        width: auto;
        height: auto;
        padding: 20px 10px;
        right: 2%;
        bottom: 13%;
    }

    .subsription-section {
        display: flex;
    }

    .footer-content {
        padding-top: 33px;

    }


    footer {
        height: 360px;
    }


}

/* Tabler section start here */
@media screen and (min-width:576px) and (max-width:960px) {

    header,
    main {
        max-width: 95%;
    }

    nav {
        flex-direction: column;
    }

    /* nav ul {
        gap: 20px;
    } */

    .destination {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .populer-tour-picture img {
        height: 100%;
    }

    .grid-item1 {
        grid-column: 1/span 1;
    }

    .grid-item2 {
        grid-column: 2/span 1;
    }

    .grid-item3 {
        grid-column: 1/span 1;
    }

    .grid-item4 {
        grid-column: 2/span 1;
    }

    .grid-item5 {
        grid-column: 1/span 1;
    }

    .grid-item6 {
        grid-column: 2/span 1;
    }

    .grid-item7 {
        grid-column: 1/span 2;
    }

    .first-satorini-content {
        margin-right: 3rem;
    }

    .first-satorini-content {
        margin-right: 3rem;
    }

    #right-side-satoroni {
        margin-left: 3rem;
    }

    .section-satoroni-2 {
        gap: 0;
    }

    .content-satoroni {
        width: 80%;
    }

    .content-all,
    .watch-bd-content {
        width: 100%;
    }

    .watch-bd-content {
        width: 90%;
    }

    .icons {
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .watch-our-bd img {
        height: 100%;
        object-fit: cover;
    }


}

.footer-content p {
    width: 80%;
}

.footer-content {
    padding-top: 60px;

}

footer {
    height: 400px;
}

.footer-content hr {
    width: 70%;
    margin: 30px 0;
}