@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    font-family: "Mulish", serif;
    font-optical-sizing: auto;
}

/* Mobile device */

@media screen and (max-width:576px) {

    nav,
    .popular-tour,
    .banner-content>form,
    form label {
        flex-direction: column;
    }

    main {
        margin-top: 30px;
        max-width: 90%;
    }

    .banner-content>form {
        max-width: 92%;
        margin: 0 auto;
        margin-top: 15px;
    }

    nav ul {
        gap: 11px;
    }

    .banner-content h1 {
        font-size: 22px;
        margin-bottom: 5px;
    }

    .banner-content {
        padding-top: 32px;
        display: block;
        text-align: center;
    }

    .banner-content p {
        max-width: 90%;
        margin: 0 auto;
    }

    /* banner ends */
    .popular-tour {
        margin: 24px 0px;
        gap: 24px;
    }

    .populer-tour-picture {
        width: 100%;
        order: 2;
    }

    .popular-tour-content {
        width: 97%;
        order: 1;
    }

}

@media screen and (min-width:576px) and (max-width:960px) {

    header,
    main {
        max-width: 800px;
    }

    .populer-tour-picture img {
        height: 100%;
    }
}